* {
    padding: 0;
    margin: 0;
    line-height: 1;
    position: relative;
    box-sizing: border-box;
}
:root{
    --title: 72px;
    --title2: 48px;
    --title3: 24px;
    --logo: 20px;
    --p: 16px;
    --green: #50E3C2;
    --gray: rgba(0,0,0,.30);
    --light-gray: rgba(0,0,0,.10);
    --height: '';
}
@media (max-width:960px){
    :root{
        --title: 6vw;
        --title2: 2.75vw;
    }
}
@media (max-width:767px){
    :root{
        --title: 10vw;
        --title2: 7vw;
        --title3: 18px;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 32px;
}
img{
    width: 100%;
}
.container{
    max-width: 960px;
    width: 100%;
    min-height: 960px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, calc(100% / 8));
    grid-template-rows: repeat(20, var(--height));
}
@media (max-width:767px){
    .container{
        grid-template-columns: repeat(5, calc(100% / 5));
        grid-template-rows: repeat(36, var(--height));
    }
}
.title-iten{
    text-align: center;
}
.logo{
    font-size: var(--logo);
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 2px 10px;
}
.title{
    font-size: var(--title);
    padding-top: 25px;
    font-weight: bold;
    line-height: .7;
}
/* all product */
.subt-title{
    font-size: var(--title2);
    font-weight: bold;
    transform: translateY(-16px);
}
.subt-title::after,
.subt-title::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-16px);
    overflow: hidden;
    height: 21px;
    color: var(--gray);
}
.subt-title::after{
    transform: translateY(-26px);
    color: var(--light-gray);
    height: 14px;
}
@media (max-width:767px){
    .subt-title::after{
        transform: translateY(-24px);
        height: 11px;
    }
    .subt-title::before{
        transform: translateY(-16px);
        height: 21px;
    }
}
.sub-title-nbr{
    font-size: var(--title2);
    font-weight: bold;
}
.italic-title p{
    font-size: var(--title3);
    font-style: italic;
}
.border .box{
    border: 20px solid var(--green);
}
.color .box{
    background-color: var(--green);
}
.slash .box{
    background-image: repeating-linear-gradient( 135deg, var(--green), var(--green) 20px, transparent 15px, transparent 34px);
}
/* =====================1===================== */
.product1{
    grid-area: 1 / 1 / span 6 / span 5;
    display: inline-grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-template-rows: repeat(6, calc(100% / 6));
}
.product1 .img-box{
    grid-area: 2 / 1 / span 4 / span 4;
}
.product1 .subt-title{
    grid-area: 2 / 1 / span 1 / span 3;
}
.product1 .sub-title-nbr{
    grid-area: 6 / 1 / span 1 / span 1;
}
.product1 .italic-title{
    grid-area: 5 / 4 / span 2 / span 2;
}
.product1 .italic-title p{
    transform: rotate(90deg);
    position: absolute;
    left: 30%;
    top: 25%;
}
.product1 .slash{
    grid-area: 5 / 1 / span 2 / span 3;
}
.product1 .slash .box{
    width: calc(100% / 3 * 2);
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product1 .border{
    grid-area: 1 / 3 / span 3 / span 3;
}
.product1 .border .box{
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* =====================2===================== */
.product2{
    grid-area: 2 / 6 / span 4 / span 3;
    display: inline-grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(4, calc(100% / 4));
}
@media (max-width:767px){
    .product2{
        grid-area: 7 / 2 / span 4 / span 3;
    }
}
.product2 .border{
    grid-area: 1 / 2 / span 2 / span 2;
}
.product2 .border .box{
    width: 100%;
    height: 100%;
}
.product2 .color{
    grid-area: 1 / 1 / span 3 / span 3;
}
.product2 .color .box{
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product2 .img-box{
    grid-area: 2 / 1 / span 2 / span 2;
}
.product2 .subt-title{
    grid-area: 4 / 2 / span 1 / span 2;
    transform: translateY(20px);
}
.product2 .italic-title{
    grid-area: 2 / 1 / span 1 / span 2;
}
.product2 .italic-title p{
    transform: translate(-15px, -100%);
}
.product2 .sub-title-nbr{
    grid-area: 1 / 3 / span 1 / span 1;
    text-align: right;
}
/* =====================3===================== */
.product3{
    grid-area: 7 / 1 / span 4 / span 5;
    display: inline-grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-template-rows: repeat(4, calc(100% / 4));
}
@media (max-width:767px){
    .product3{
        grid-area: 11 / 1 / span 4 / span 5;
    }
}
.product3 .border{
    grid-area: 2 / 3 / span 3 / span 3;
}
.product3 .border .box{
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product3 .color{
    grid-area: 1 / 1 / span 3 / span 2;
}
.product3 .color .box{
    width: 100%;
    height: calc(100% / 3 * 2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.product3 .img-box{
    grid-area: 2 / 1 / span 2 / span 4;
}
.product3 .subt-title{
    grid-area: 1 / 2 / span 1 / span 3;
    transform: translateY(0);
    position: absolute;
    bottom: 0;
    right: 0;
}
.product3 .italic-title{
    grid-area: 4 / 1 / span 1 / span 2;
}
.product3 .italic-title p{
    text-align: right;
}
.product3 .sub-title-nbr{
    grid-area: 4 / 5 / span 1 / span 1;
}
/* =====================4===================== */

.product4 {
    grid-area: 7 / 6 / span 6 / span 3;
    display: inline-grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(6, calc(100% / 6));
}
@media (max-width:767px){
    .product4{
        grid-area: 16 / 2 / span 6 / span 3;
    }
}
.product4 .border {
    grid-area: 1 / 1 / span 2 / span 3;
}

.product4 .border .box {
    width: calc(100% / 3 * 2);
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product4 .img-box {
    grid-area: 2 / 2 / span 4 / span 2;
}

.product4 .subt-title {
    grid-area: 2 / 1 / span 1 / span 2;
    transform:rotate(-90deg) translateY(21px);
    position: absolute;
    bottom: 0;
    left: 0;
}

.product4 .italic-title {
    grid-area: 1 / 2 / span 1 / span 2;
}

.product4 .italic-title p {
    transform:rotate(90deg) translateY(-50%);
    text-align: right;
    position: absolute;
    right: 4px;
    bottom: 65px;
}
.product4 .sub-title-nbr {
    grid-area: 5 / 1 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
.product4 .slash{
    grid-area: 6 / 2 / span 1 / span 2;
}
.product4 .slash .box{
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}
/* =====================5===================== */

.product5 {
    grid-area: 11 / 1 / span 3 / span 4;
    display: inline-grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-template-rows: repeat(3, calc(100% / 3));
}
@media (max-width:767px){
    .product5{
        grid-area: 22 / 1 / span 3 / span 4;
    }
}
.product5 .border {
    grid-area: 3 / 2 / span 1 / span 2;
}

.product5 .border .box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
}

.product5 .img-box {
    grid-area: 2 / 3 / span 2 / span 2;
}

.product5 .subt-title {
    grid-area: 2 / 1 / span 1 / span 3;
    position: absolute;
    bottom: 0;
    left: 0;
}

.product5 .italic-title {
    grid-area: 2 / 3 / span 1 / span 2;
}

.product5 .italic-title p {
    position: absolute;
    right: 0;
    transform: translateX(100%);
}

.product5 .sub-title-nbr {
    grid-area: 3 /2 / span 1 / span 1;
    position: absolute;
    bottom: 0;
}
.product5 .slash {
    grid-area: 1 / 1 / span 2 / span 3;
}
.product5 .slash .box {
    width: calc(100% / 3 * 2);
    height: calc(100% / 3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* =====================6===================== */
.product6 {
    grid-area: 13 / 4 / span 6 / span 5;
    display: inline-grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    grid-template-rows: repeat(6, calc(100% / 6));
}
@media (max-width:767px){
    .product6{
        grid-area: 26 / 1 / span 6 / span 5;
    }
}
.product6 .border {
    grid-area: 4 / 2 / span 3 / span 4;
}

.product6 .border .box {
    width: 100%;
    height: calc(100% / 3 * 2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.product6 .color{
    grid-area: 4 / 1 / span 2 / span 3;
}
.product6 .color .box{
    width: calc(100% / 3 * 2);
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.product6 .img-box {
    grid-area: 2 / 2 / span 4 / span 4;
}
.product6 .subt-title {
    grid-area: 1 / 3 / span 1 / span 3;
    position: absolute;
    bottom: 0;
    transform: translateY(0);
}
.product6 .italic-title {
    grid-area: 6 / 3 / span 1 / span 2;
}
.product6 .italic-title p {
    text-align: center;
}

.product6 .sub-title-nbr {
    grid-area: 3 /1 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* =====================7===================== */

.product7 {
    grid-area: 15 / 1 / span 5 / span 3;
    display: inline-grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(5, calc(100% / 5));
}
@media (max-width:767px){
    .product7{
        grid-area: 32 / 1 / span 5 / span 3;
    }
}
.product7 .border {
    grid-area: 1 / 1 / span 3 / span 5;
}

.product7 .border .box {
    width: calc(100% / 3 * 2);
    height: calc(100% / 5 * 4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product7 .color {
    grid-area: 4 / 2 / span 2 / span 2;
}

.product7 .color .box {
    width: 100%;
    height: 100%;
}

.product7 .img-box {
    grid-area: 2 / 1 / span 4 / span 2;
}

.product7 .subt-title {
    grid-area: 3 / 2 / span 1 / span 2;
    transform: rotate(90deg) translateX(-30px);
}

.product7 .italic-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.product7 .italic-title p {
    position: absolute;
    bottom: 0;
    left: 0;
}

.product7 .sub-title-nbr {
    grid-area: 5 / 3 / span 1 / span 1;
    position: absolute;
    bottom: 0;
    right: 0;
}